  
  <div class="mitad" style="background-color:rgb(163, 255, 176);  border-color: forestgreen;" (click)='mover("cosas-lindas")'>
    <ion-icon class="icono" style="float: left;" color='success' slot="start" name="thumbs-up"></ion-icon>
    <br>
    <h2 class="text" style="float: right;color: rgb(18, 92, 34);right: 20%;">COSAS LINDAS</h2>
</div>
<div class="mitad" style="background-color: rgb(255, 136, 136);" (click)='mover("cosas-feas")'>
    <h2 class="text" style="float: left; color: rgb(99, 20, 20);left: 20%;">COSAS FEAS</h2>
    <ion-icon class="icono" style="float: right;" color='danger' slot="end" name="thumbs-down"></ion-icon>
</div>