.imagenLogin{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.botom { 
    bottom: 8%;
}
ion-content {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
ion-button {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
ion-title {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}